.stack-background {
    -fx-background-image: url("img/background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button-entrar{
    -fx-background-color: #308003;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, #388E3C, #4CAF50);
    -fx-background-radius: 5px;
}

.button-entrar:hover{
    -fx-background-color: #246502;

}